*~
*.pyc
*.pyo
.trelby/
*.trelby
!tests/fixtures/*.trelby
MANIFEST
.pybuild/

# virtual environment
/venv/

# IDE and Python development tools
/.vscode/
.coverage
.pdbrc
.pylintrc
.tox/
noxfile.py
ruff.toml

# macOS specific
*.DS_Store

# git specifics
.pre-commit-config.yaml

#Choco
*.nupkg
